<h1>
  Channel <%= @channel.name %> for <%= @team.name %>
  <%= link_to '(edit)', edit_team_channel_path(@team, @channel) %>
</h1>

Creator:
<%= @channel.creator.email if @channel.creator.present? %>

<br /> <br />
<%= @name %>