<h1>
  Channel <%= @channel.name %> for <%= @team.name %>
  <%= link_to '(edit)', edit_team_channel_path(@team, @channel) %>
</h1>

<p>
  Creator:
  <%= @channel.creator.email if @channel.creator.present? %>
</p>

<p>
  <%= link_to 'View messages for this channel', team_channel_messages_path(@team, @channel) %>
</p>