<%# add navigation links to this file %>
<% unless user_signed_in? %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% else %>
  <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
<% end %>

<li><%= link_to 'Teams', teams_path %></li>

<% if @team %>
  <li><%= link_to @team.name, team_path(@team) %></li>
<% end %>

<% if @channel %>
  <li><%= link_to @channel.name, team_channel_path(@team, @channel) %></li>
<% end %>
